/* Outer container */
.header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.8);
    height: 10vh;
    color: white;
    transition: all 0.5s ease-in;
    z-index: 1;
}

/* Inner container */
.header_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Logo */
.logo img {
    display: block;
}



/* Left section */

.header_left ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left li {
    list-style: none;
    margin: 10px;
}

.header_left li a {
    text-decoration: none;
    color: white;
}

/* Right section */

.header_right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_right li {
    list-style: none;
    margin: 10px;
}

.header_right li a {
    text-decoration: none;
    color: white;
}





/* Responsive styles */
@media (max-width: 768px) {
    .header_left ul {
        display: none;
        flex-direction: column;
        background-color: rgba(20, 20, 20, 0.95);
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        padding: 20px;
    }

    .header_left ul.active {
        display: flex;
    }

    .logo img {
        width: 80px;
    }

    .header_right ul {
        display: flex;
    }
}