.footer ul a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.footer ul a:hover {
    opacity: 1;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer {
    background-color: #111;
    padding: 40px 20px;
    color: white;
}

.footer ul {
    padding: 30px;
}

.footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer ul a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.footer ul a:hover {
    opacity: 1;
}

.footer h1 {
    color: white;
    text-align: center;
    padding-bottom: 30px;
    opacity: 0.5;
}

.agide a {
    text-decoration: none;
    color: white;
}

.footer h1:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .footer__links {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}